@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');



#rejestracja {
  display: none; 
}
#loguj {
  display: none;
  margin: auto;
}
#loguj:hover {
  color: blue;
}
#logowanie {
  display: block; 
}
#rejestruj {
  display: block;
  margin: auto;
}
#rejestruj:hover {
  color: blue;
}
.odstep {
  margin-bottom: 13px;
}
button {
  border: none;
  padding-top: 10px;
  background-color: transparent;
  font-family: 'Quicksand';
  font-weight: bold;
}
input {
  border-color: gray;
  margin-top: 15px;
  width: 400px;  
  height: 25px;
}
.warnings {
  font-family: 'Quicksand';
  font-size: 13px;
  display: none;
}
body {
  height: 100%;
  background-color: #ace1f4; 
}
#submitsignin, #submitlog {
  width: 80px;
  font-family: 'Quicksand';
  font-size: 13px;
  font-weight: bold;
}
h3 {
  font-family: 'Quicksand';
}


#logowanko {
  
  max-width: 500px;       
  width: 90%;              
  background: radial-gradient(#9198e5 1%, #ace1f4 70%);
  margin: 20px auto;      
  text-align: center;
  padding: 20px;          
  box-sizing: border-box; 
}


@media (max-width: 600px) {
  input {
    width: 80%;
    max-width: 400px;
  }
  #logowanko {
    padding: 15px;
  }
}
