@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
	#sukces,#sukceslink{
	text-align: center;
	display:block;
	font-family: Quicksand;
	font-size: 25px;
	margin:5px;
	}
	body{
		background-image: url(../photo/background.jpg);
		background-repeat: repeat;
		background-attachment: fixed;
	}
	