.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ace1f4;
  }
  
  
  .tooltip {
    flex: 0 1 20vw; 
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to right, #ace1f4, #f0d8a8);
    box-shadow: 0 0 15px 10px #ace1f4;
    border-radius: 8px;
    padding: 10px;
  }
  
  
  .glowne {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
  }
  